<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Resumen</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    </head>
    <body>
        <div
            class="header container-fluid bg-dark text-white text-center"
        >
            <div class="row">
                <div class="col">
                    <h1>Resumen</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <table class="table table-group-divider table-striped table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Servicio</th>
                        <th class="text-end" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">01/01/2020</th>
                        <td>10:00</td>
                        <td>Servicio 1</td>
                        <td>
                            <a href="#" class="btn btn-danger btn-sm float-end mx-2">Cancelar</a>
                            <a href="#" class="btn btn-primary btn-sm float-end mx-2">Confirmar</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </body>

    <!-- Bootstrap JS -->
    <script src="../../js/bootstrap.bundle.min.js"></script>
</html>
