<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/indexstyles.css" />
  </head>
  <header class="header">
    <span>
      <h1>header</h1>
    </span>
    <nav class="navbar">
      <ul class="menuInicio">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="userViews/register.html">Registro</a></li>
        <li><a href="userViews/login.html">Iniciar Sesion</a></li>
      </ul>
    </nav>
  </header>

  <body class="body">
    <span>contenido</span>
  </body>
  <footer class="footer">
    <span>
      <h3>footer</h3>
    </span>
  </footer>

  <script src="../javascript/indexscripts.js"></script>
</html>
